use AdventureWorks2014;
BEGIN TRAN
GO
CREATE FUNCTION dbo.UDF_SYSDATETIME_SCALR()
  RETURNS DATETIME2 
AS
	BEGIN
		RETURN sysdatetime() 
	END
GO

GO
CREATE FUNCTION dbo.UDF_SYSDATETIME_TABLE()
  RETURNS Table 
AS
	RETURN SELECT sysdatetime() as UDF_SYDATETIME_TABLE
GO

SELECT	[LargePhoto], 
		SYSDATETIME() as SYSDATETIME,
		dbo.UDF_SYSDATETIME_SCALR() as UDF_SYSDATETIME_SCALR,
		T.*
FROM [Production].[ProductPhoto], dbo.UDF_SYSDATETIME_TABLE() as T

ROLLBACK --ROLLBACK CREATE FUNCTION

